<% layout('layout/Boilerplate') %>
  <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds/<%= camp._id %>?_method=PATCH" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="Name" class="form-label">Title:</label>
          <input id="Name" type="text" placeholder="Title it" name="title" value="<%= camp.title %>" class="form-control" required>
        <div class="valid-feedback">
                            Looks good!
                          </div>
        </div>
        <div class="mb-3">
          <label for="Price" class="form-label">Location:</label>
          <input id="Price" type="text" placeholder="Location" name="location" value="<%= camp.location %>" class="form-control" required>
        <div class="valid-feedback">
                            Looks good!
                          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" value="<%= camp.price %>" required>
        <div class="valid-feedback">
                            Looks good!
                          </div>        
                      </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" value="<%= camp.image %>" required>
        <div class="valid-feedback">
                            Looks good!
                          </div>
              </div>
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" value="<%= camp.description %>" required></textarea>
        <div class="valid-feedback">
                            Looks good!
                          </div>
              </div>
        <div class="mb-3">
          <button class="btn btn-success">Update campground</button>
          <a class="btn btn-danger" href="/campground/<%= camp.id %>">Back</a>
        </div>
      </form>
    </div>
  </div>