<% layout('layout/Boilerplate') %>
  <div class="container text-center">
    <h1 class="mb-4"><b>CAMPING SITES NEAR YOU...</b></h1>
    <!-- <a href="/campgrounds/new" class="btn btn-warning mb-4">New campgrounds</a> -->
    <%for(let post of campground){%>
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <%if(post.image.length) {%>
              <img width="100%" height="auto" alt="" src="<%=post.image[0].url%>">
              <% }else {%>
                <img width="100%" height="auto" alt=""
                  src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <%= post.title %>
              </h5>
              <h6 class="card-text text-muted">
                <%= post.location %>
              </h6>
              <p class="card-text">
                <%= post.description%>
              </p>
              <a class="card-link btn btn-info" href="/campgrounds/<%=post._id%>">Visit <%= post.title %></a>
            </div>
          </div>
        </div>
      </div>
      <%}%>
  </div>